{% extends '_layout.html' %}
{% block title %}
    Globlancer - Apply
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let jobField = document.querySelector("#id_job");
            let conditionalFields = {
                "A": ["id_skills"],
                "B": []
            };

            function showFields() {
                let selectedJob = jobField.value;
                let fieldsToShow = conditionalFields[selectedJob];
                let form = document.querySelector("form");


                form.querySelectorAll(".conditional-field").forEach(function (field) {
                    field.style.display = "none";
                });


                fieldsToShow.forEach(function (fieldName) {
                    let field = form.querySelector("#id_" + fieldName);
                    if (field) {
                        field.style.display = "";
                    }
                });
            }

            showFields();
            jobField.addEventListener("change", showFields);
        });
    </script>
{% endblock %}
{% block content %}
    <form method="post" id="signupForm"
          class="bg-slate-400 w-1/2 mx-auto items-center justify-center px-5 border-2 border-gray-900 py-3 rounded-3 h-100 my-4"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label class="block text-center font-weight-bold text-lg">Freelancer Or Employer</label>
            {{ form.job }}
        </div>
        <div>
            <label class="block text-center font-weight-bold text-lg">Description</label>
            {{ form.description }}
        </div>

        <div>
            <label class="block text-center font-weight-bold text-lg">Skills(Freelancers)</label>
            {{ form.skills }}
        </div>
        <div class="text-center">
            <button type="submit"
                    class="bg-gray-900 text-white active:bg-gray-700 uppercase text-sm font-bold px-6 py-3 rounded shadow hover:bg-gray-800 outline-none focus:outline-none mr-1 mb-1 w-1/4">
                Apply
            </button>
        </div>
    </form>
{% endblock %}