<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="bg-gray-200">
        <div class="flex p-4">
            <div
                class="container w-1/5 h-max p-4 m-6 bg-slate-100 h-full rounded-lg justify-center justify-items-center items-center   ">
                <div class="grow">
                    <h1 class="text-2xl font-bold mb-4">About Us</h1>
                    <p class="text-gray-800">GlobLancer is a freelancing team who does freelancing projects
                        together;<br>
                        We're mostly active at college final projects and college homeworks, and we're located in
                        Iran.<br>
                        Our team has mastered Python, Java, Js, and Cpp, Also Django framework, Pygame, Turtle, pyQt,
                        and
                        etc.
                    </p>
                    <p class="text-gray-800">Our team is made of people with years of experience from Sharif University
                        and
                        Allameh Helli 1,
                        <br> with years of experience in programming, we try our best to give the best experience to our
                        customers,
                        <br> Next time You had a project, You know who to call :)
                    </p>
                </div>
                <p class="bg-gray-200 p-4 rounded-2xl my-4">
                    <span class="text-red-900">Email: bb8933400@gmail.com</span>
                    <br>
                    <span class="text-sky-900">Telegram: @bgopc</span>
                    <br>
                    <span class="text-indigo-950">Discord: bgopc</span>
                <p>
                <h2 class="text-lg font-semibold center">Contact Us Using This Template</h2>
                <p class="bg-gray-200 p-4 rounded-lg shadow mt-2">
                    Hello Dear GlobLancer Team, <br>
                    We bothered you about a project <br>
                    Project Explanation: (Put explanation here)<br>
                    Expected Time: (The maximum time limit) <br>
                    Price Range: From (Lowest Price) to (Highest Price) <br>
                    Intended Freelancer: (freelancer username)
                </p>
                </p>
                </p>
            </div>
            <div class="m-14"></div>
            <div class="grid grid-cols-3 grid-rows-3 gap-4 bg-slate-200 w-2/3">
                <div class="p-2 m-2 bg-slate-300 rounded-lg justify-center content-center">
                    <h4 class="text-lg">Service 1</h4>
                    <p>If i warned you</p>
                </div>
                <div class="p-2 m-2 bg-slate-300 rounded-lg">
                    <h4 class="text-lg">Service 2</h4>
                    <p>If i warned you</p>
                </div>
                <div class="p-2 m-2 bg-slate-300 rounded-lg">
                    <h4 class="text-lg">Service 3</h4>
                    <p>If i warned you</p>
                </div>
                <div class="p-2 m-2 bg-slate-300 rounded-lg col-start-1 col-end-3">
                    <h4 class="text-lg">How Does Your Projects Are Done?</h4>
                    <p>If i warned you</p>
                </div>
                <div class="p-2 m-2 bg-slate-300 rounded-lg col-start-3">
                    <h4 class="text-lg">Apply</h4>
                    <p>If i warned you</p>
                </div>
                <div class="p-2 m-2 bg-slate-300 rounded-lg col-start-1 col-end-2">
                    <h4 class="text-lg">Projects List</h4>
                    <p>If i warned you</p>
                </div>

                <div class="p-2 m-2 bg-slate-300 rounded-lg col-start-2 col-end-4">
                    <h4 class="text-lg">How Does Your Projects Are Done?</h4>
                    <p>If i warned you</p>
                </div>
            </div>
        </div>
    </body>

</html>