{% extends '_layout.html' %}
{% block title %}
    Globlancer - New Project
{% endblock %}
{% block content %}
    <br>
    <form method="post" id="signupForm"
          class="bg-slate-400 w-1/2 mx-auto items-center justify-center px-5 py-3 rounded-lg h-100 my-4"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label class="block text-center font-weight-bold text-lg my-2">Project Title</label>
            {{ form.title }}
        </div>
        <div>
            <label class="block text-center font-weight-bold text-lg my-2">Description</label>
            {{ form.description }}
        </div>

        <div>
            <label class="block text-center font-weight-bold text-lg my-2">Price(IRR)</label>
            {{ form.price }}
        </div>
        <div>
            <label class="block text-center font-weight-bold text-lg my-2">Tags</label>
            {{ form.tags }}
        </div>
        <div class="text-center">
            <button type="submit"
                    class="bg-gray-900 text-white active:bg-gray-700 uppercase text-sm font-bold px-6 py-3 rounded shadow hover:bg-gray-800 outline-none focus:outline-none mr-1 mb-1 w-1/4">
                Post A New Project
            </button>
        </div>
    </form>
{% endblock %}