.no-pointer-action {
    pointer-events: none;
}

.text-blueGray-900 {
    color: #071221 !important;
}

.bg-blueGray-900 {
    background-color: #071221 !important;
}

.text-blueGray-800 {
    color: #0C1929 !important;
}

.bg-blueGray-800 {
    background-color: #0C1929 !important;
}

.text-blueGray-700 {
    color: #27374D !important;
}

.bg-blueGray-700 {
    background-color: #27374D !important;
}

.text-blueGray-600 {
    color: #1F344D !important;
}

.bg-blueGray-600 {
    background-color: #1F344D !important;
}

.text-blueGray-500 {
    color: #526D82 !important;
}

.bg-blueGray-500 {
    background-color: #526D82 !important;
}

.text-blueGray-400 {
    color: #7694A5 !important;
}

.bg-blueGray-400 {
    background-color: #7694A5 !important;
}

.text-blueGray-300 {
    color: #9EB6C5 !important;
}

.bg-blueGray-300 {
    background-color: #9EB6C5 !important;
}

.text-blueGray-200 {
    color: #DDE6ED !important;
}

.bg-blueGray-200 {
    background-color: #DDE6ED !important;
}

.text-blueGray-100 {
    color: #F4F6F9 !important;
}

.bg-blueGray-100 {
    background-color: #F4F6F9 !important;
}

.text-coolGray-500 {
    color: #9DB2BF !important;
}

.bg-coolGray-500 {
    background-color: #9DB2BF !important;
}